@inject SignInManager<AppUser> _signInManager
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-commerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body >
    <div class="container-fluid  sticky-top">
        <nav class="navbar navbar-expand-sm bg-secondary navbar-dark border-bottom box-shadow mb-3" @*style="background-color: burlywood"*@>
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/home.jpg" width="50" height="34" class="logo" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto mb-2">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="index" asp-controller="home" style="color:aquamarine"> Home</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav  mb-2 ml-auto">

                        @if (_signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <form method="post" asp-action="logout">
                                    <a class="nav-link" asp-action="logout" asp-controller="account" style="color:aquamarine">Logout  @User.Identity.Name </a>
                                </form>

                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-action="register" asp-controller="account" style="color:aquamarine">Register</a>
                            </li>


                            <li class="nav-item ml-2">
                                <a asp-action="login" asp-controller="account" style="color:aquamarine">Login</a>
                            </li>
                        }

                    </ul>

                    <ul class="navbar-nav ml-2">
                        <li class="nav-item">
                            @await Component.InvokeAsync("CartSummary")
                        </li>
                    </ul>
                </div>
            </div>


        </nav>
    </div>
    
    <div class="container">
       
        <main role="main" class="pb-3">
            @RenderBody()
            
        </main>
    </div>

    <footer class="/*border-top*/ footer text-muted">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - E-commerce  @*<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
